body {
    background-color: #FFEAEE;
}

.layout {
    margin: 30px;
    width: 800px;
}

header {
    width: 80vw;
    height: 20vh;
    background-color: #0D5D56;
}

h1 {
    font-size: 3rem;
    color: #FFEAEE;
    margin: 40px 400px 0px;
}

p {
    font-size: 1.5em;
}
.layout div {
    height: 80vh;
    width: 15%;
    display: inline-block;
    margin: 10pt;
    padding: 10px;
}

#columnOne {
    background-color: #7ea172;
}

#columnTwo {
    background-color: #e7a977;
}

#columnThree {
    background-color: #0D5D56;
}

#columnFour {
    background-color: #AA78A6;
}
